<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Official NuGet.org feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local packages" value="C:\LocalPackages" />
    <add key="EmailerUtilityLocal" value="E:\OneDrive\Repos\Email\EmailerUtility\nupkgs" />
  </packageSources>
</configuration>
